@charset "utf-8"
$primary: #520915
@import "base/basic"
@import "base/color.sass"
@import "~bulma/sass/utilities/_all"
@import "~bulma/sass/base/_all"
@import "~bulma/sass/elements/_all"
@import "~bulma/sass/components/_all"
@import "~bulma/sass/grid/_all"
@import "~bulma/sass/layout/_all"
@import "~buefy/src/scss/buefy"


$fa-font-path: "/font-awesome-5-pro"
@import "~assets/font-awesome-5-pro/fontawesome.scss"

body
  background: $black
  min-height: 100vh
.inner-content
  padding-top: 4rem
  position: relative
  background: url(/assets/background-b.png) top center/cover no-repeat
  background-attachment: fixed
  min-height: 100vh
  max-width: 1200px
  margin: 0 auto
  .title
    text-align: center
  &.is-centered
    text-align: center
  .inner-scroll
    max-height: 80vh
    overflow: auto
    clear: both
    -webkit-overflow-scrolling: touch
  .auto
    background-color: $white
    margin: .5rem 1rem
    text-align: center
    .bx_header
      font-size: .8rem
      padding-top: 1rem
      .variant
        font-weight: bolder
        background-color: $primary
        color: $white
        padding: .1rem .3rem
        border-radius: .1rem
        min-width: 1rem
    .car_name
      font-weight: bolder
      color: $black
  .title
    color: $white
  p
    color: $white
    &.lefty
      text-align: left
.paddme20
  margin: 1.2rem
.category>.title
  font-weight: normal
  margin: .3rem
  text-transform: uppercase
  font-size: .8rem
.bx_form
  margin: 1rem
  padding: 2rem
  color: $white
  background: rgba($black, .4)
  .label
    color: $white

.bx_title
  text-align: center
  display: block
  width: 100%
  .btn_back
    font-size: 2rem
    color: $primary
    margin: -.65rem  0 0 1rem
    float: left
  .title
    margin: 0
    width: 90%
