<template lang="html">
  <div class="inner-content">
    <div class="bx_title">
      <nuxt-link
        to="/"
        class="btn_back">
        <i class="fas fa-chevron-circle-left" />
      </nuxt-link>
      <h2 class="title is-4">Chat</h2>
    </div>
    <div class="inner-scroll">

      <div class="paddme20">
        <p class="lefty">Chat box</p>
      </div>


    </div>
  </div>
</template>

<script>
</script>

<style lang="css">
</style>
