<template lang="html">
  <div class="inner-content">
    <h2 class="title is-4">Autos Nuevos</h2>
    <div class="inner-scroll">
      <iframe
        src="/redirect.html"
        frameborder="0" />
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="sass" scoped>
iframe
  width: 100%
  height: 100%
  min-height: 80vh
</style>
